[Desktop Entry]
Name=Textsnippets
Comment=Text snippet manager with system tray
Exec=textsnippets
Icon=accessories-text-editor
Terminal=false
Type=Application
Categories=Utility;TextTools;GTK;
Keywords=snippet;text;clipboard;paste;
StartupNotify=false
